* {
    margin: 0%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    background-color: rgb(58, 165, 42);
}

#cookie-stuff {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(20, 43, 220);
}

#Cookie {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    /* background-color: rgb(163, 92, 0); */
    background-image: radial-gradient(rgb(200, 113, 0), rgb(200, 113, 0), rgb(146, 83, 0));
    color: white;
    /* border-color: rgb(16, 34, 177); */
    border-left: 0px rgb(16, 34, 177);
    border-right: 0px rgb(16, 34, 177);
    border-bottom: 5px rgb(16, 34, 177);
    border-top: 0px rgb(16, 34, 177);
    border-style: solid;
}

#Cookie:hover {
    background-image: radial-gradient(rgb(165, 94, 0), rgb(165, 94, 0), rgb(114, 65, 0));
}

#Cookie:active {
    background-image: radial-gradient(rgb(132, 75, 0), rgb(132, 75, 0), rgb(92, 52, 0));
}

#Buttons {
    width: 50%;
    height: 100vh;
    background-color: rgb(99, 148, 237);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#count {
    background-color: rgb(11, 218, 159);
    padding: 5px;
    border-radius: 7px;
    margin: 20px;
    font-size: 30px;
}

.greenbutton {
    /* border-left: 0px;
    border-right: 0px;
    border-bottom: 2px;
    border-top: 0px; */
    background-color: rgb(22, 165, 0);
    color: white;
    padding: 5px;
    border-color: rgb(0, 78, 0);
    border-style: solid;
    border-radius: 5px;
    
}

.greenbutton:hover {
    /* border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-top: 2px;
    border-color: rgb(66, 99, 158); */
    background-color: rgb(15, 116, 0);
    border-color: rgb(0, 57, 0);

}